.iframe {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    /* 100% of the viewport height */

}

.iframe-left {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    /* 100% of the viewport height */
}